<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Larmda Express App</title>
</head>
<body>
    <h2>Welcome to my Express Applicaion</h2>
</body>
</html>